.header-container {
  background-color: #DCDCDC;
  border-top: 2px solid #808080;
  padding-top: 20px;
}
.rotunda-title {
  padding-top: 20px;
  text-align: center;
}
.sub-titles-rotunda {
  padding-bottom: 20px;
}
.rotunda-img {
  padding-top: 10px;
  margin: auto;
  width: 50%;
}
.center-input {
  padding: 20px;
}
.color-title-carousel {
  color: black;
}
.line-left {
  border-left: 2px dashed #808080;
}
.carousel-container {
  margin-top: 40px;
  padding: 10px;
  padding-bottom: 60px;
  background-color: #BEBEBE;
  border-radius: 5px;
}
.footer {
  background-color: #4c4c4c;
  padding-top: 40px;
  padding-bottom: 20px;
}
.text-footer {
  color: #DCDCDC;
}.text-unison-container {
  padding-top: 20px;
  width: 80%;
  padding: 10%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  background-color: #808080;
  opacity: 0.7;
  border-radius: 20px;
}
.title-unison, .sub-titles-rotunda {
  font-family: "Helvetica Neue", sans-serif;
    font-weight: 600;
}
.text-unison {
  color: white;
  font-weight: 800;
  font-size: 23px;
  font-family: "Helvetica Neue", sans-serif;
  font-style: oblique;
}
.text-above-submit {
  padding-bottom: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}
blockquote {
  border:none;
  font-family:Georgia, "Times New Roman", Times, serif;
  quotes: "\201C""\201D""\2018""\2019"; 
}

blockquote div:before, blockquote div:after { 
content: open-quote;
font-weight: bold;
font-size:100px;
color:white; 
}

blockquote div:after { 
  content: close-quote;
}